.listItem {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 500;
  margin-right: 100px;
  color: #1e293b;
  margin-top: 0px;
  width: 100%;
}
.list-row-p {
  font-size: 12px;
  font-family: Roboto;
  font-weight: 500;
  margin-right: 100px;
  color: #1e293b;
  min-width: 100px;
  max-width: 100px;
}
.dlt-btn {
  height: 15px;
  width: 20px;
  background-color: transparent;
  border-style: none;
}
img {
  max-height: 13px;
  max-width: 13px;
}
