.listItem {
  display: flex;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 500;
  margin-right: 100px;
  color: #1e293b;
  margin-top: 0px;
}
.list-row-p {
  font-size: 12px;
  font-family: Roboto;
  font-weight: 500;
  margin-right: 100px;
  color: #1e293b;
  min-width: 100px;
  max-width: 100px;
}
